body {
    font-family: sans-serif;
    font-size: 13px;
}

a, a:hover {
    color: rgb(196, 69, 29);
}

a:visited {
	color: rgb(171, 105, 84);
}

a:hover {
    text-decoration: underline;
}

.decl__body > *:not(.decl__signature) {
	margin-left: 2em;
}

.decl__signature {
    background: #f0f0f0;
    border-bottom: none;
    padding: 0.2em 0.5em;
}
